spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create #주의 사용에 따라 create, update 사용 후 none으로 변경해주세요
    properties:
      hibernate:
        default_batch_fetch_size: 100

server:
  servlet:
    session:
      cookie:
        http-only: true
        secure: true
        same-site: strict
      timeout: 30m

# Swagger 설정
springdoc:
  info:
    title: 이의있오 API
    description: 이의있오 프로젝트 API 명세서
    version: v1.0.0
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

# OpenAI 설정
openai:
  api:
    key: ${OPENAI_API_KEY}
    base-url: https://api.openai.com
    timeout: 60000
    default-model: gpt-4o