spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update #주의 사용에 따라 create, update 사용 후 none으로 변경해주세요
    properties:
      hibernate:
        default_batch_fetch_size: 100

server:
  servlet:
    session:
      cookie:
        http-only: true
        secure: true
        same-site: strict
      timeout: 30m